<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link
            rel="stylesheet"
            th:href="@{/login.css}"
    />
</head>
<body>
<div class="form_login">
    <form th:action="@{/login}" th:object="${user}" method="post">
        <h3>FORM LOGIN</h3>
        <input th:type="text" th:field="*{username}" placeholder="Username..."></br>
        <input th:type="text" th:field="*{password}" placeholder="Password..."></br>
        <button>submit</button></br>
    </form>
    <p th:text="${message}"></p>
</div>
</body>
</html>